In [2]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("../convergence/Temp/Data/ETH_USDT_1d.csv")
data.head()

   Unnamed: 0    datetime    open     high     low   close        volume
0           0  2018-01-01  733.01   763.55  716.80  754.99   53909.25885
1           1  2018-01-02  754.99   899.50  749.06  855.28  113257.78355
2           2  2018-01-03  855.13   950.01  810.00  934.03   89041.45688
3           3  2018-01-04  934.03  1009.72  890.01  940.00  102894.47384
4           4  2018-01-05  940.00  1045.00  930.00  959.30   97374.01630

In [6]:
from sklearn.preprocessing import MinMaxScaler
def MinMaxScaling():
    mms = MinMaxScaler()
    try:
        mms.fit(data)
        scaled_data = mms.transform(data)
        scaled_data = pd.DataFrame(data = scaled_data, columns=data.columns)
    except ValueError:
        data = data.set_index("datetime")
        mms.fit(data)
        scaled_data = mms.transform(data)
        scaled_data = pd.DataFrame(data = scaled_data, columns=data.columns)